.slider {
  position: relative;
  width: 100%;

  .slider-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .slider-card {
    margin-right: 10px;
  }

  .slider-controls {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    margin-top: -25px;
  }

  .slider-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .slider-controls button {
    width: 40px;
    height: 50px;
    cursor: pointer;
  }

  .slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .slider-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #be00ff;
      margin-right: 10px;
      cursor: pointer;
    }

    .slider-dot.active {
      background-color: #be00ff;
    }
  }

  @media (max-width: 768px) {
    .slider-card {
      margin-right: 5px;
    }
  }

  @media (max-width: 480px) {
    .slider-card {
      margin-right: 0px;
    }
  }
}
