.ScreenBidPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto 100px;
  margin-top: 40px;
}

.banner {
  width: 100%;
  max-width: 1280px;
  background-image: url("../../../public/images/banner-lifestyle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 330px;

  .text {
    position: relative;
    width: 445px;
    text-align: start;
    top: 110px;
    left: 63px;

    .title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 60px;
      line-height: 40px;
      color: #ffffff;
      margin-bottom: 15px;
    }

    .description {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #ffffff;
    }
  }
}
